<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<h1>LivingRoom에 오신 것을 환영합니다.</h1>
<button onclick="location.href='/customer/1'">특정 고객 조회</button>
<button onclick="location.href='/customer/list'">전체 고객 조회</button>
<button onclick="location.href='/customer/querymethod'">쿼리메소드 테스트</button>
<button onclick="location.href='/customer/regist'">고객 등록하기</button>
<button onclick="location.href='/customer/modify'">고객 정보 수정하기</button>
<button onclick="location.href='/customer/delete'">고객 정보 삭제하기</button>
</body>
</html>